@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.container-fluid {
    background-color: #efebe9;
    height: 100%;
}
.header{
    min-height: 100px;
}
.header h1 {
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    color: #a1887f;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}
.story {
    font-family: 'Raleway', sans-serif;
    margin: 30px 20px 20px 40px;
    font-size: 30px;
    color: #a1887f;
}
.highscores {
    font-family: 'Raleway', sans-serif;
    margin: 30px 20px 20px 40px;
    font-size: 30px;
    color: #a1887f;
    text-align: center;
}
.photo{
    object-fit: cover;
    width: 100%;
    border: 2px solid #a1887f;
}
.info {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #a1887f;
    text-align: center;
}
h5 {
    padding: 15px auto;
    font-size: 45px;
}
li {
    list-style: none;
}
.error-notice {
    text-align: center;
    color: #dd2c00;
    font-size: 35px;
}
#loginForm, input {
    text-align: center;
}
#pointsWorth {
    visibility: hidden;
}